<h3>General Details</h3>

Report Title: {{summary.title}}

<h4>Test Results in this comparison:</h4>
<table>
<thead>
<tr>
<td>Index</td>
<td>Test Name</td>
<td>Status</td>
<td>Start Time</td>
<td>Duration</td>
<td>Description</td>
</tr>
</thead>
<tbody>
{% for result in results | sort(attribute='index') %}
<tr id="tr{{result.id}}">
<td>{{result.index}}</td>
<td>{{result.name}}</td>
<td>{{result.qualityStatus}}</td>
<td>{{result.startDateText}}</td>
<td>{{result.durationText}}</td>
<td>{{result.description}}</td>
</tr>
{% endfor %}
</table>
<script type="text/javascript">
{% for result in results | sort(attribute='index') %}
d3.selectAll("#tr{{result.id}} > td")
    .style("color",window.results_colors[{{result.index}}].color)
{% endfor %}
</script>
