language: python
addons:
  sonarcloud:
    organization: "neotys"
    token:
      secure: "HpxoA5oSxy193R40tDKbNPvhW29SYjTq2ZqgSndRqi8sdpqq1sTi5wKNeCFHK3HZnzXZffhbaHKLBut4ng92aWX8V4zKwxuLb+2tl3dL8k6H9ZI/sH61qOK83iDODDfRhic7l/al6O1YJVBXtPEwrlLvfOX0wPH/VbZQ9Vk8mJGAQrKZXeYBRsvIEs8RSajMCL0E/Di8XCCHoAXNrQjJ7k1+RCKX4jdNRYRSgdvUBic18RjffIxEZwPxSrE7L7i3KLMZj+WmaiUgPvLR6SDdtXUVJoBOxvQMmAnIQMUxeSMJ38cqlzQeWjbNoWUnLZtPuEW/Gi/vNBKvmLvS8AcpU0fhsbJ7Z32FWCP3Tdua00NMpvc9gWzl7xR6PTVR5pF2tVWW1RzhpdFYXCGr77mGCzy9/Rcp74+MKOfA8bfQQLmveAXIUk2YR9048UBJReyHuiwot3lRt7eeWxHRyDpORxy8j5siYoNfEwutdVPQqyqRjflpiOg3K3I0dtE75vuYQwdGQWY4Omgu+m+OmKXsv9thdSIEWDVC+QnMFUgnU8W8QHOdwhvg8M3FZPazDeQ569SSbG7L/MCNT6e0Zf3Pw9QUoiuJ3eqib107ZPl9VKTeIcQMJ8VsL8c7OOPY9xaIXyVzmMeLW/RPBTQ4J4dp3/u0BXj+5t6qw6p0BW/GNyE="


python:
  - "3.6"
  - "3.8"
install:
  - pip install .
  - pip install coverage
  - pip install -r requirements.txt
# command to run tests
script:
  - PYTHONPATH="neoload" COVERAGE_FILE=.coverage.unit coverage3 run -m pytest
  - PYTHONPATH="neoload" COVERAGE_FILE=.coverage.live coverage3 run -m pytest -v -x -m "makelivecalls" --makelivecalls --token $NLW_TOKEN --url $NLW_URL
  - coverage3 combine
  - coverage3 xml
  - sonar-scanner
deploy:
  provider: pypi
  user: "__token__"
  password:
    secure: "K/AxS9FQGbGuTj3yCB4y7unIKEC+SGlCGUMj4/Z8fSYpFchcNzON8P9llJTcjBl66Plimhk6nyHPhr46qi4nboH5DRWHfx/6WXzq6/aDONWJMSsBGZvevDLGRts3InRD2lxiS1UtRGS2ky9zlnxSkkfya7m04bX8M7dgMArO7rJ5BeyN01YVg1gm+BAJWThHvWpqoC7f+fYxHcpv4hMU1HtwVguTqpfyyUGEnUp0jmZ9zY1AGIWkgomxJDulewgRyVBRVMsWUwyLPi/mYnIgvaAa6HeB0QEi3kWoAy6MSeiPJgumnyak2mPpxGeF2efcOSBkBX+27X/o+IKT3Ow9tjsz19O2++yPPGm3oJuEjqcxs9oDkYU0Tut4rmHXHVnLst8tLQwX87V5M5XKDS7m5fiHE3AGKseD5RajP4v9FG194w/C3Wkh4JCI6X7QY8jnrNMMXPRM98V2iyf3qMNGn6enLxSGXi7/sJw06yM6lNcM1tmS4w8iZw+VfF6/XaQtr8js6cyy6yAhrx9zMf3ndgJ0dGGtuNZyqEjU1Hli7VTFnNHzi01oawbwEQ5dCK1lBAkUAMwF3ZOUz6BFPBoNsekOqQ+5gZMsRhnIZHl4BXJWYTmUs/NMnk+Y/lnlpC9GW1wAH3bP3y7BkBgGdJrLtneIzikirW7dlGLf9KpQ6DQ="
  skip_existing: true
  on:
    tags: true
