PYTHONUNBUFFERED=1

NEOLOAD_CLI_TEST_SLACK_URL=

NEOLOAD_CLI_NTS_URL=https://neoload-rest.saas.neotys.com:443/nts
NEOLOAD_CLI_NTS_LOGIN=
NEOLOAD_CLI_NLW_TOKEN=
NEOLOAD_CLI_NLW_URL=https://neoload-rest.saas.neotys.com
NEOLOAD_CLI_NLW_FILES_URL=https://neoload-files.saas.neotys.com/v1
NEOLOAD_CLI_NLW_BASE_URL=https://neoload.saas.neotys.com
NEOLOAD_CLI_ZONE_DYNAMIC=pimnV
NEOLOAD_CLI_ZONE_STATIC=rBhB3
