<h3>General Details</h3>
Run Date: {{ summary.startDateText }}<br />
Period: {{ summary.startDateText }} - {{ summary.endDateText }}<br />
Run Duration: {{ summary.durationText }}<br />
<br />
Status: {{summary.qualityStatus}}<br />
Author: {{summary.author}}<br />

<h3>Description/Conclusion</h3>
{{summary.description}}<br />
