<div class="clearfix">
  <div style="float:left;width:80%;">
    <h1 style="text-align:left;">{{title}}</h1>
  </div>
  <div style="float:right;width:20%;padding-top:0.75em;">
    <div class="logo" style="margin:auto auto;transform: scale(0.5);">&nbsp;</div>
  </div>
</div>
